.nav {
  &_container {
    background: url("../../assets/navbar/bg-img.png");
    // height: 145px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &_content {
      &_link {
        .aboutDropdown {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background: url("../../assets/navbar/bg-img.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          min-width: 164px;
          padding: 15px;
          z-index: 999;
          overflow-y: auto;
          border-radius: 20px;
          ul li {
            padding: 8px 12px;
            border-radius: 20px;
            transition: 0.3s;
            &:hover {
              background-color: rgba(255, 255, 255, 0.3);
            }
          }
        }
        ul .aboutlink:hover .aboutDropdown {
          display: block;
        }
        ul li a {
          transition: 0.3s;
        }
        ul li a.active {
          border-bottom: 2px solid white;
          padding-bottom: 3px;
        }
        ul li a:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &_search {
    height: 112px;

    &_catalog {
      button {
        @include mainBtn;
        gap: 8px;
      }
    }
    &_input {
      background-color: #f6f6f8;
      border-radius: 26px;
      border: 1px solid #e2e5e9;
      input {
        padding: 14px 24px;
        font-size: 14px;
        border-radius: 26px;
        background-color: inherit;
        outline: rgba(83, 83, 187, 0.359);
      }
      button {
        @include mainBtn;
      }
    }
  }
  .menuModal {
    background-color: rgba(0, 0, 0, 0.3);
    &Content {
      &Row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .card1{
          background-color: #ededed;
        }
      }
    }
  }
}
